In [7]:
pip install mysql-connector-python==8.3.0
import mysql.connector
mydb=mysql.connector.connect(host='localhost',password='1234',user='root')

if mydb.is_connected():
    print("Connection Established")

Connection Established

In [8]:
mycursor=mydb.cursor()

In [9]:
mycursor.execute("show databases")
for db in mycursor:
    print(db)

('aaft',)
('classicmodels',)
('db2',)
('information_schema',)
('mysql',)
('performance_schema',)
('sods',)
('sods2',)
('vehicle',)

In [10]:
mycursor=mydb.cursor()
mycursor.execute("use SODS2")

In [18]:
mycursor=mydb.cursor()
table="CREATE TABLE customer(cus_id int(10),cus_name varchar(20),salary float(10))"
mycursor.execute(table)

In [19]:
mycursor.execute("show tables")
for db in mycursor:
    print(db)

('customer',)
('customers',)

In [20]:
s="INSERT INTO customer(cus_id,cus_name,salary) VALUES(%s,%s,%s)"
r1=(1001,'Ria',3500)
mycursor.execute(s,r1)
mydb.commit()

In [21]:
s="SELECT * from customer"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1001, 'Ria', 3500.0)

In [22]:
s="INSERT INTO customer(cus_id,cus_name,salary) VALUES(%s,%s,%s)"
r1=(1002,'Sia',4500)
mycursor.execute(s,r1)
mydb.commit()

In [23]:
s="SELECT * from customer"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1001, 'Ria', 3500.0)
(1002, 'Sia', 4500.0)

In [33]:
s="INSERT INTO customer VALUES(1002,'Sia',4500),(1003,'Priya',5500)"
mycursor.execute(s)
mydb.commit()

In [34]:
s="SELECT * from customer"
mycursor.execute(s)
result=mycursor.fetchall()
for rec in result:
    print(rec)

(1001, 'Ria', 3500.0)
(1002, 'Sia', 4500.0)
(1002, 'Sia', 4500.0)
(1002, 'Sia', 4500.0)
(1002, 'Sia', 4500.0)
(1003, 'Priya', 5500.0)